


<div style="speedDiv">
<span [class]="speed.styleClass">{{speed.speed}}</span> MPH
 <h3> Your Speed  </h3> 

<div>

<div>
<button (click)="accelerate()">Accelerate</button>
</div>
<table class="speedLimit" >
<tr><td>Speed Limit: </td><td class="speedLimitValue">{{speed.speedLimit}}  MPH</td> </tr>
<tr><td>Your Speed: </td><td class="speedLimitValue">{{speed.speed}}  MPH</td> </tr>
<tr><td>Road:</td><td class="speedLimitValue">{{speed.road}} </td> </tr>
<tr><td>Location:</td><td class="speedLimitValue">{{speed.location}} </td> </tr>

</table>
</div>
</div>