<div style="">
<ul class="menu">
  <li class="navLink" >
   <a   rel="noopener" href="/speed"><img alt="Speed" src="assets\images\firstpageicons\Speed.png"> </a>
  </li>
  <li class="navLink" >
    <a  rel="noopener" href="https://github.com/angular/angular-cli/wiki"><img alt="Harsh Breaking" src="assets\images\firstpageicons\Harsh Braking.png"></a>
  </li>
  <li class="navLink" >
    <a  rel="noopener" href="https://blog.angular.io/"><img alt="Hard Acceleration" src="assets\images\firstpageicons\Harsh Cornering.png"></a>
  </li>
  <li class="navLink" >
    <a  rel="noopener" href="https://blog.angular.io/"><img alt="Hard Cornering" src="assets\images\firstpageicons\Harsh Acceleration.png"></a>
  </li>
  
</ul>
</div>